
<main>
  <section class="login">
    <div class="login-fondo">
      <img class="profile" src="../../../assets/resources/usuario.png" alt="">
    </div>
    <div class="login-botones">
      <button><img class="botones-icono" src="../../../assets/resources/gmail.png" alt=""> Log In With Github</button>
      <button><img class="botones-icono" src="../../../assets/resources/google.png" alt="">Log In With Google</button>
      <button><img class="botones-icono" src="../../../assets/resources/github.png" alt="">Log In With Linkedln</button>
    </div>

      <form class="login-form" action="">
        <label for="">Usuario</label>
        <input type="text">
        <label for="">Password</label>
          <input type="password">
        <a class="forget-password" href="">No recuerdas tu Password?</a>
        <button class="btn-ingresar" type="submit">Ingresar ></button>
      </form>
  </section>
</main>
