
<main class="container">
    <section class="container-search">
      <div class="search">

      </div>
    </section>
    <section class="store">
      <div class="container-card">
        <div class="card">
          <img class="card-image" [src]="product.image" alt="Imagen Computador">
          <p>{{ product.name }}</p>
          <h2>{{  product.price }}</h2>
          <span class="hearth"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <button class="button-add" type="button">Añadir al Carrito +</button>
        </div>
        <div class="card">
          <img class="card-image" [src]="product.image" alt="Imagen Computador">
          <p>{{ product.name }}</p>
          <h2>{{  product.price }}</h2>
          <span class="hearth"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <button class="button-add" type="button">Añadir al Carrito +</button>
        </div>
        <div class="card">
          <img class="card-image" [src]="product.image" alt="Imagen Computador">
          <p>{{ product.name }}</p>
          <h2>{{  product.price }}</h2>
          <span class="hearth"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <button class="button-add" type="button">Añadir al Carrito +</button>
        </div>
        <div class="card">
          <img class="card-image" [src]="product.image" alt="Imagen Computador">
          <p>{{ product.name }}</p>
          <h2>{{  product.price }}</h2>
          <span class="hearth"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <button class="button-add" type="button">Añadir al Carrito +</button>
        </div>
        <div class="card">
          <img class="card-image" [src]="product.image" alt="Imagen Computador">
          <p>{{ product.name }}</p>
          <h2>{{  product.price }}</h2>
          <span class="hearth"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <button class="button-add" type="button">Añadir al Carrito +</button>
        </div>
        <div class="card">
          <img class="card-image" [src]="product.image" alt="Imagen Computador">
          <p>{{ product.name }}</p>
          <h2>{{  product.price }}</h2>
          <span class="hearth"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <button class="button-add" type="button">Añadir al Carrito +</button>
        </div>
        <div class="card">
          <img class="card-image" [src]="product.image" alt="Imagen Computador">
          <p>{{ product.name }}</p>
          <h2>{{  product.price }}</h2>
          <span class="hearth"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <button class="button-add" type="button">Añadir al Carrito +</button>
        </div>
        <div class="card">
          <img class="card-image" [src]="product.image" alt="Imagen Computador">
          <p>{{ product.name }}</p>
          <h2>{{  product.price }}</h2>
          <span class="hearth"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <button class="button-add" type="button">Añadir al Carrito +</button>
        </div>
        <div class="card">
          <img class="card-image" [src]="product.image" alt="Imagen Computador">
          <p>{{ product.name }}</p>
          <h2>{{  product.price }}</h2>
          <span class="hearth"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <button class="button-add" type="button">Añadir al Carrito +</button>
        </div>
        <div class="card">
          <img class="card-image" [src]="product.image" alt="Imagen Computador">
          <p>{{ product.name }}</p>
          <h2>{{  product.price }}</h2>
          <span class="hearth"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <span class="stars"></span>
          <button class="button-add" type="button">Añadir al Carrito +</button>
        </div>

      </div>
    </section>
</main>
