
.header{
  background-color: var(--main-color);
}
.logo{
  width: 20%;
  height: 40px;
  margin-bottom: 10px;
}
.navbar{
  padding: 0 40px 0 20px;
}
.ul-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-top:0;
  margin-bottom: 0;
  padding: 0;
}
.navbar-link{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}
.navbar-link li{
 list-style: none;
}
.navbar-link li > a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.8rem;
}
.navbar-link li > a:hover{
  text-decoration: underline;
}
.navbar-icono{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: flex-end;
  margin-left: 10px;
}
.navbar-icono a > img{
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

