<main>
  <section class="container">
    <div class="container-iconos">
      <div class="container-iconos-led">
        <a href=""><span class="whatsapp-led"></span></a>
        <a href=""><span class="instagram-led"></span></a>
        <a href=""><span class="twitter-led"></span></a>
      </div>
    </div>
    <section class="form-container">
      <div class="form">
        <div class="form-title">
          <h2>Contáctanos</h2>
        </div>
        <div class="form-body">
          <form class="form-body-formulario" action="">
            <span class="span-nombre"></span><label class="form-body-nombre" for="">Nombre</label>
            <input class="form-body-input" type="text">

            <span class="span-email"></span><label class="form-body-email" for="">Email</label>
            <input class="form-body-input" type="email">

            <span class="span-celular"></span><label class="form-body-celular" for="">Celular</label>
            <input class="form-body-input" type="text">

            <span class="span-mensaje"></span><label class="form-body-mensaje" for="">Mensaje</label>
            <textarea class="form-body-text" ></textarea>
            <button class="form-body-button" type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </section>
  </section>
</main>
