
<main>
  <section class="login">
    <div class="signup-fondo">
      <img class="fondo" src="../../../assets/resources/feliz.jpg" alt="">
    </div>

      <form class="login-form" action="">
        <label for="">Nombre Usuario</label>
        <input type="text">
        <label for="">Email</label>
          <input type="email">
          <label for="">Password</label>
        <input type="password">
        <label for=""> Confirmar Password</label>
          <input type="password">
        <button class="btn-ingresar" type="submit">Registrarte ></button>
      </form>
      <a class="forget-password" href="">Ya tienes Cuenta? Inicia Sesión</a>
  </section>
</main>
