<header class="header">
  <nav class="navbar">
    <ul class="ul-link">
      <div class="navbar-link">
        <img class="logo" src="../../../assets/resources/lot.png" alt="Logo JTech">
        <li><a href="index.html">Inicio</a></li>
        <li><a href="index.html">Store</a></li>
        <li><a href="index.html">Mis Compras</a></li>
        <li><a href="index.html">Contáctanos</a></li>
        <li><a href="index.html">Ayuda</a></li>
      </div>
      <div class="navbar-icono">
        <a  href="./Views/Registro.html"><img class="icons" src="../../../assets/resources/Users.png" alt=""></a>
        <a  href=""><img class="icons" src="../../../assets/resources/shop.png" alt=""></a>
      </div>
    </ul>
  </nav>
</header>
